/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
/* line 5, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Variables*/
/*Styles*/
/* line 14, ../sass/screen.scss */
#mobileTopSpace {
  background-color: darkgrey;
  height: 90px;
  display: none;
}
/* line 18, ../sass/screen.scss */
#mobileTopSpace #menuIcon {
  float: left;
  padding: 10px;
}
/* line 21, ../sass/screen.scss */
#mobileTopSpace #menuIcon div {
  width: 50px;
  height: 9px;
  background-color: white;
  margin: 9px 0;
}
/* line 28, ../sass/screen.scss */
#mobileTopSpace #searchBar {
  float: right;
  width: 50%;
  margin-top: 26px;
  font: bold 26px 'PT Sans', sans-serif;
  color: #676767;
  border-color: transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/*footer SASS variables*/
/* line 59, ../sass/screen.scss */
body {
  display: block;
}
/* line 62, ../sass/screen.scss */
body p#paraBold {
  margin: auto;
  text-align: center;
  font: bold 35px 'PT Sans', sans-serif;
  width: 70%;
}
/* line 68, ../sass/screen.scss */
body p#paraRegular {
  margin: auto;
  text-align: center;
  font: 25px 'PT Sans', sans-serif;
  width: 70%;
  padding: 15px 0 50px 0;
}

/* line 77, ../sass/screen.scss */
#header_bg {
  margin-top: 50px;
  text-align: center;
  background: url("../img/header_bg.png") repeat-x right top;
}

/* line 82, ../sass/screen.scss */
#logo_bg {
  background-color: #ffffff;
  padding: 0px 20px 0px 20px;
}

/* line 86, ../sass/screen.scss */
.clearfix {
  overflow: auto;
  clear: both;
}

/* line 91, ../sass/screen.scss */
nav#nav1 {
  margin: 30px auto;
  border: 3px solid #0c6c43;
  width: 90%;
  text-align: center;
}
/* line 97, ../sass/screen.scss */
nav#nav1 ul li {
  display: inline-block;
}
/* line 99, ../sass/screen.scss */
nav#nav1 ul li:hover {
  background: url("../img/link_hover.png") no-repeat center bottom;
}
/* line 102, ../sass/screen.scss */
nav#nav1 ul li a {
  text-decoration: none;
  color: #0c6c43;
  font: 30px 'PT Sans', sans-serif;
  display: block;
  padding: 20px 60px 20px 60px;
}
/* line 112, ../sass/screen.scss */
nav#nav2 {
  display: inline-block;
  font: 30px 'PT Sans', sans-serif;
  text-align: left;
  color: white;
  left: 0;
  padding: 30px 5% 30px 5%;
}
/* line 114, ../sass/screen.scss */
nav#nav2 ul {
  padding: 30px 60px 0 60px;
  display: inline-block;
}
/* line 118, ../sass/screen.scss */
nav#nav2 ul li.up {
  padding-top: 20px;
}
/* line 121, ../sass/screen.scss */
nav#nav2 ul li.li2 {
  text-align: left;
  font-size: 25px;
  list-style: none;
  color: white;
}
/* line 124, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2 {
  color: white;
  text-decoration: none;
}
/* line 127, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2:visited {
  color: white;
}
/* line 130, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2:hover {
  text-shadow: 2px 2px 10px #ffffff;
}
/* line 133, ../sass/screen.scss */
nav#nav2 ul li.li2 a.link_nav2:active {
  color: white;
}

/* line 137, ../sass/screen.scss */
section#sec1 {
  width: 540px;
  margin: auto;
  background-color: #ffffff;
}
/* line 142, ../sass/screen.scss */
section img {
  float: left;
  margin: -210px 0 0 -190px;
}

/* line 147, ../sass/screen.scss */
h1 {
  margin-bottom: 20px;
  font: bold 30px 'PT Sans', sans-serif;
  color: #ff0005;
}

/* line 153, ../sass/screen.scss */
.textarea-field {
  height: 50px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  border-radius: 5px;
}

/* line 161, ../sass/screen.scss */
.textarea-field-month {
  height: 30px;
  width: 23%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: 5px;
}

/* line 171, ../sass/screen.scss */
.textarea-field-day {
  height: 30px;
  width: 16%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: 5px;
}

/* line 180, ../sass/screen.scss */
#div-dob {
  display: inline;
}

/* line 183, ../sass/screen.scss */
.textarea-field-year {
  height: 30px;
  width: 16%;
  border-radius: 5px;
  background-color: #e0e0e0;
  border-color: transparent;
  font-size: 17px;
  margin: -5px 5px -5px 5px;
}

/* line 193, ../sass/screen.scss */
.select {
  position: relative;
  display: inline-block;
}

/* line 198, ../sass/screen.scss */
.select select {
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #e6e6e6;
}

/* line 208, ../sass/screen.scss */
.select__arrow {
  position: absolute;
  width: 0;
  height: 20px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #ff5100 transparent transparent transparent;
}

/* line 219, ../sass/screen.scss */
div#form-style-2 {
  font: 20px 'PT Sans', sans-serif;
  margin: auto;
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px 0px 20px 1px #5c5c5c;
}
/* line 229, ../sass/screen.scss */
div#form-style-2 label.labelDown {
  display: block;
  margin: 0px 0px 15px 0px;
}
/* line 233, ../sass/screen.scss */
div#form-style-2 label.labelSide {
  display: inline;
  margin: 0px 0px 15px 0px;
}
/* line 237, ../sass/screen.scss */
div#form-style-2 label.paraSmall {
  margin-left: 50px;
  text-align: left;
  display: block;
  font: 15px 'PT Sans', sans-serif;
}
/* line 243, ../sass/screen.scss */
div#form-style-2 label span {
  width: 150px;
  display: inline-block;
  padding-right: 5px;
  text-align: right;
}
/* line 248, ../sass/screen.scss */
div#form-style-2 label span#sp1 {
  width: 110px;
  display: inline-block;
  text-align: right;
}
/* line 253, ../sass/screen.scss */
div#form-style-2 label span#sp2 {
  width: 300px;
  display: inline-block;
  text-align: left;
}
/* line 258, ../sass/screen.scss */
div#form-style-2 label span#sp3 {
  width: 110px;
  display: inline-block;
  text-align: right;
}
/* line 263, ../sass/screen.scss */
div#form-style-2 label span#sp4 {
  width: 150px;
  display: inline;
  text-align: left;
}
/* line 268, ../sass/screen.scss */
div#form-style-2 label span#sp4 {
  width: 150px;
  display: inline;
  text-align: left;
}
/* line 273, ../sass/screen.scss */
div#form-style-2 label span#arrYear {
  width: 0;
  height: 0;
  padding: 0;
  top: 16px;
  right: 32px;
}
/* line 280, ../sass/screen.scss */
div#form-style-2 label span#arrMonth {
  width: 0;
  height: 0;
  padding: 0;
  top: 16px;
  right: 127px;
}
/* line 287, ../sass/screen.scss */
div#form-style-2 label span#arrDay {
  width: 0;
  height: 0;
  padding: 0;
  top: 16px;
  right: 223px;
}
/* line 294, ../sass/screen.scss */
div#form-style-2 label span#gender {
  width: 150px;
  display: inline-block;
  text-align: right;
}
/* line 299, ../sass/screen.scss */
div#form-style-2 label span#control-group {
  width: 300px;
  display: inline-block;
  text-align: left;
  position: absolute;
  margin-left: 20px;
}
/* line 307, ../sass/screen.scss */
div#form-style-2 label input {
  display: inline;
  margin: 5px 10px;
  width: 60%;
}
/* line 313, ../sass/screen.scss */
div#form-style-2 input[type=checkbox] {
  width: 20%;
  height: 20px;
  background-color: #e0e0e0;
  border-color: transparent;
}
/* line 320, ../sass/screen.scss */
div#form-style-2 input[type=submit],
div#form-style-2 input[type=button] {
  background: #ef2b2f;
  width: 40%;
  height: 50px;
  float: right;
  border-radius: 5px;
  font: 25px 'PT Sans', sans-serif;
  color: white;
  margin-right: 33px;
  border-color: transparent;
}
/* line 332, ../sass/screen.scss */
div#form-style-2 input[type=submit]:hover,
div#form-style-2 input[type=button]:hover {
  background: #EA7B00;
  color: #fff;
}

/* line 340, ../sass/screen.scss */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}

/* line 348, ../sass/screen.scss */
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* line 353, ../sass/screen.scss */
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}

/* line 361, ../sass/screen.scss */
.control--radio .control__indicator {
  border-radius: 50%;
}

/* line 364, ../sass/screen.scss */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

/* line 368, ../sass/screen.scss */
.control input:checked ~ .control__indicator {
  background: #e0e0e0;
}

/* line 371, ../sass/screen.scss */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #e0e0e0;
}

/* line 375, ../sass/screen.scss */
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

/* line 380, ../sass/screen.scss */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* line 383, ../sass/screen.scss */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* line 386, ../sass/screen.scss */
.control--radio .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ff4f00;
}

/* line 394, ../sass/screen.scss */
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

/*footer SASS codes*/
/* line 399, ../sass/screen.scss */
footer {
  background-color: #006B41;
  margin: 130px auto 0 auto;
  text-align: center;
}

/* line 406, ../sass/screen.scss */
p.conversation {
  border: 2px solid #279dff;
  margin: 5px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fffff5;
}

/* line 415, ../sass/screen.scss */
div#result {
  padding: auto;
  background: #72daff;
}

/* line 424, ../sass/screen.scss */
.error {
  font-size: 12px;
  margin: 1px 1px 1px 347px;
  color: red;
}

/* line 429, ../sass/screen.scss */
.has-error {
  border-color: #ff7474;
}

/* line 432, ../sass/screen.scss */
.error-msg {
  font-size: 15px;
  color: #ff706f;
  font-weight: bold;
  font-style: italic;
  margin-left: 170px;
  width: 60%;
}

/*!*--------------------------desktop min---------------------*!*/
@media only screen and (max-width: 979px) {
  /* line 442, ../sass/screen.scss */
  #mobileTopSpace {
    display: none;
  }
}
/*!*--------------------------tablet--------------------------*!*/
@media only screen and (max-width: 767px) {
  /* line 447, ../sass/screen.scss */
  #nav1 {
    display: none;
  }

  /* line 448, ../sass/screen.scss */
  #mobileTopSpace {
    display: inherit;
  }
}
/*!*--------------------------mobile--------------------------*!*/
@media only screen and (max-width: 480px) {
  /* line 452, ../sass/screen.scss */
  #nav1 {
    display: none;
  }

  /* line 455, ../sass/screen.scss */
  #mobileTopSpace {
    display: inherit;
  }

  /* line 459, ../sass/screen.scss */
  div#form-style-2 {
    box-shadow: none;
  }

  /* line 463, ../sass/screen.scss */
  div#form-style-2 label span {
    width: 150px;
    display: inline-block;
    padding-right: 23px;
    text-align: left;
  }

  /* line 469, ../sass/screen.scss */
  body p#paraBold {
    margin: auto;
    text-align: left;
    font: bold 35px 'PT Sans', sans-serif;
    width: 80%;
  }

  /* line 475, ../sass/screen.scss */
  body p#paraRegular {
    margin: auto;
    text-align: left;
    font: 25px 'PT Sans', sans-serif;
    width: 80%;
    padding: 15px 0 50px 0;
  }

  /* line 482, ../sass/screen.scss */
  div#form-style-2 label span#arrDay {
    width: 0;
    height: 0;
    padding: 0;
    top: 43px;
    right: 287px;
  }

  /* line 489, ../sass/screen.scss */
  div#form-style-2 label span#arrMonth {
    width: 0;
    height: 0;
    padding: 0;
    top: 43px;
    right: 383px;
  }

  /* line 496, ../sass/screen.scss */
  div#form-style-2 label span#arrYear {
    width: 0;
    height: 0;
    padding: 0;
    top: 43px;
    right: 192px;
  }

  /* line 503, ../sass/screen.scss */
  #div-dob {
    display: block;
  }

  /* line 506, ../sass/screen.scss */
  section img {
    margin: 0px;
  }

  /* line 509, ../sass/screen.scss */
  div#form-style-2 label span#control-group {
    width: 300px;
    display: block;
    text-align: left;
    position: absolute;
    margin-left: 20px;
  }

  /* line 516, ../sass/screen.scss */
  div#form-style-2 label span#gender {
    width: 150px;
    text-align: left;
  }

  /* line 519, ../sass/screen.scss */
  div#form-style-2 label.paraSmall {
    text-align: left;
    font: 15px 'PT Sans', sans-serif;
  }

  /* line 522, ../sass/screen.scss */
  div#form-style-2 label span#sp2 {
    width: 60%;
    margin-left: -27px;
  }

  /* line 526, ../sass/screen.scss */
  div#form-style-2 label.paraSmall {
    text-align: left;
    font: 15px 'PT Sans', sans-serif;
    margin-left: -70px;
    margin-top: 33px;
  }

  /* line 532, ../sass/screen.scss */
  div#form-style-2 input[type=submit], div#form-style-2 input[type=button] {
    background: #ef2b2f;
    width: 40%;
    height: 50px;
    float: left;
    border-radius: 5px;
    font: 25px 'PT Sans', sans-serif;
    color: white;
    margin-right: 33px;
    border-color: transparent;
  }
}
